<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img
          src="https://static.vecteezy.com/system/resources/previews/003/725/369/non_2x/mma-design-logo-vector.jpg"
          alt="logo-strelka"
          height="40"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="showMenu()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        [ngClass]="{ show: isW }"
        class="collapse navbar-collapse navbar-expand-lg"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink=""
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/video"
              routerLinkActive="text-primary"
              [routerLinkActiveOptions]="{ exact: true }"
              >video</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chi siamo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Abbonati</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
