main {
  min-height: 80vh;
}

.package {
  height: 200px;
  width: 200px;
  background-image: url("../../../assets/media/pacchetto-fig-mma.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
