<div id="container" class="p-3 d-flex align-items-center bg-dark">
  <ul class="nav justify-content-between flex-grow-1">
    <li class="nav-item mb-2">
      <a routerLink="" class="nav-link p-0 text-white">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/video" class="nav-link p-0 text-white">Video</a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="" class="nav-link p-0 text-white">Chi Siamo</a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="" class="nav-link p-0 text-white">Contatti</a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="" class="nav-link p-0 text-white">Abbonati</a>
    </li>
    <li class="nav-item mb-2">
      <a
        href="https://github.com/andreaDevelope?tab=repositories"
        target="_blank"
        class="nav-link p-0 text-white"
        >sviuppato con &hearts; by andreaDevelope</a
      >
    </li>
  </ul>
</div>
